
    <div class="jumbotron">
        <h2> Rules</h2>
        <ul>
            <li>Act like an adult, use proper grammar & spelling. Keep Criticism Constructive. BE MATURE, & RESPECT ALL OTHER MEMBERS.</li>
            <li> No thread crapping, no price trashing. A sellers price is their own. If you do not like the price don't buy it, don't comment.</li>
            <li>No trolling, no memes, no bullshit. Don't be a dick if somebody is asking a legit question.</li>
            <li>All offers & negotiations via the sellers preffered form of contact</li>
            <li>English is the language of the group. All prices should be listed in USD. Must be willing to ship into USA</li>
            <li>No replica, reproduction, or shitty gear. Condor CLOTHING is good to go. No morale patches. Flags, Personal Identifiers, ETC are Ok.</li>

        </ul>
    </div>

<style>
    h2{
        text-align: center;
    }
</style>