
    <div class="jumbotron">
        <h2> Rules</h2>
        <ul>
            <li>Act like an adult, use proper grammar & spelling. Keep Criticism Constructive. BE MATURE, & RESPECT ALL OTHER MEMBERS.</li>
            <li> No thread crapping, no price trashing. A sellers price is their own. If you do not like the price don't buy it, don't comment.</li>
            <li>No trolling, no memes, no bullshit. Don't be a dick if somebody is asking a legit question.</li>
            <li>All offers & negotiations via the sellers preffered form of contact</li>
            <li>English is the language of the group. All prices should be listed in USD. Must be willing to ship into USA</li>
            <li>No replica, reproduction, or shitty gear. Condor CLOTHING is good to go. No morale patches. Flags, Personal Identifiers, ETC are Ok.</li>
            <li>No Airsoft ANYTHING.</li>
            <li>NO IMPRESSION QUESTIONS. PERSEC the fallen. No "legit" / "Kosher" questions. No R8 or H8.</li>
            <li> Kit pictures are okay as long as they drive discussion. Respect the poster. NO AIRSOFT GUNS.</li>
            <li>Don't sell anything illegal/stolen. Know your local laws for what you may own. NO "US" MARKED PLATES. Do not question an items origin or accuse a member of theft. Do not accuse another member of theft unless you saw them take it.</li>
            <li>No Guns, Ammo, Markers, Airsoft replicas, paintball, etc. Blue Guns, SIRT, Rubber trainers are okay. NO FUNCTIONAL COMPONENTS ARE ALLOWED. THIS INCLUDES MAGAZINES. If it is required to fire, its a no go. Only external furniture / external upgrades i.e. Optics are allowed.</li>
            <li>Respect ITAR rules and regulations. If you don't know if it's an ITAR item ask us.</li>
            <li> Sales posts MUST have a price and photo of an item IN YOUR POSSESSION. Stock item photos are NOT allowed. Photos are required in the original post, not in the comments.</li>
            <li>No copy/paste, screen cap or shared posts. DON'T BE LAZY.</li>
            <li>NO PRICE CHECKS. Research before asking the going rate of an item. Only if you cannot find that item should you ask for an appraisal. DON’T BE LAZY</li>
            <li>TTW/WTT posts MUST have a price you are willing to sell for. If you want to trade an item, you MUST place a dollar value on the item as a benchmark.</li>
            <li> Don't turn threads into conversation places. Keep it all on the original topic.</li>
        </ul>

        <h3>3 strikes you’re out. Special snowflakes can be removed without strikes. Nobody has a right to be here.</h6>
    </div>

<style>
    h3{
        text-align: center;
        font-size: 150%;
    }
    h2{
        text-align: center;
        border-bottom: solid 2px #EB5757;
        border-left: solid 2px #EB5757;
    }

    .jumbotron{
        margin: auto;
        background-color: #4F4F4F;
        width: 60%;
        color: black;
        margin-top: 2%;
        border-radius: 0% !important;
    }
</style>