<center>
    <div class="jumbotron-main">
        <h1 class="np">New Post</h1>

        <%= render 'form', post: @post %>

        <%= link_to 'Back', posts_path %>
    </div>
</center>

<style>
    .jumbotron-main{
        margin-top: 5%;
        background-color: #4F4F4F;
        color: black;
    }

    .np{
        padding-top: 1%;
    }
</style>
